.button {
  @include button-text;
  padding: 10px 36px;
}

.button--rounded {
  border-radius: 37px;
  color: $brown;
  border: 1px solid $brown;
}

.button--filled {
  color: white;
  background-color: $brown;
}