.button {
  @include button-text;
  padding: 10px 36px;

  &--rounded {
    border-radius: 37px;
    color: $brown;
    border: 1px solid $brown;
  }

  &--square {
    padding: 10px 20px;
    color: $gold;
    border: 1px solid $gold;
    border-radius: 5px;
  }

    &--filled {
    color: white;
    background-color: $brown;
  }
}