.consultation {
  background-color: #FAFAFA;
  padding: 40px 0 40px;
}

.consultation__wrapper {
  display: flex;
}

.consultation__text-block {
  margin-right: auto;
}

.consultation__title {
  @include subscribe-title-text;
  display: block;
  margin-bottom: 10px;
  color: $indigo;
}

.consultation__text {
  @include text;
  color: $grey;
}

.consultation__button {
  padding: 15px 40px;
  margin-right: 136px;
}

@media (max-width: 1040px) {
  .consultation {
    padding: 40px 90px;
  };

  .consultation__wrapper {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .consultation__text-block {
    margin: 0 0 50px;
  }

  .consultation__button {
    align-self: center;
    margin: 0;
  }
}