.header {
  padding: 36px 20px 0;
  background: url('../../img/header-bg.png'), #E0E4E7;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.header__logo {
  width: 104px;
  height: 100%;
  margin-right: auto;
}

.header__nav {
  margin-right: 42px;
}

.header__search-button {
  width: 16px;
  height: 16px;
  margin-right: 18px;
  font-size: 0;
  background: url('../../img/search-icon.svg') center no-repeat;
  background-size: contain;
}

.header__cart-button {
  width: 16px;
  height: 15px;
  margin-right: 28px;
  font-size: 0;
  background: url('../../img/cart-icon.svg') center no-repeat;
  background-size: contain;
}

.header__navbar-toggler {
  display: none;
}

.header__promo {
  max-width: 1040px;
}

@media (max-width: 1040px) {
  .header {
    padding: 0;
  }

  .header__header {
    flex-direction: column;
    padding: 36px 35px 98px;
    background-color: #F7F7F7;
  }

  .header__logo {
    margin-bottom: 96px;
  }

  .header__user-panel {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
  }

  .header__search-button {
    width: 24px;
    height: 24px;
    margin-right: 24px; 
  }

  .header__cart-button {
    width: 24px;
    height: 22px;
    margin-right: 32px;
  }

  .header__navbar-toggler {
    display: block;
    width: 24px;
    height: 14px;
    font-size: 0;
    background-image: url('../../img/navbar-toggler.svg');
  }

  .header__nav {
    width: 100%;
    margin: 0;
  }
}